<!DOCTYPE html>
<html>
    <head>
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/buefy/dist/buefy.min.css"
        />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
        />
    </head>
    <body style="margin: 2vh 2vw">
        <div id="app">
            <nav>
                <ul>
                    <li>
                        <router-link to="/">Home</router-link>
                    </li>
                </ul>
            </nav>
            <br />
            <router-view></router-view>
        </div>

        <!-- Imports -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

        <!-- Vue Templates -->
        <template id="home-page">
            <div>
                <h1>Cartoons:</h1>
                <ul>
                    <li v-for="cartoon in $store.state.cartoons" v-bind:key="cartoon.slug">
                        <router-link v-bind:to="`cartoon/${cartoon.slug}`">
                            <p>
                                [[ cartoon.title ]] by [[ cartoon.author ]]
                            </p>
                            <img v-bind:alt="cartoon.title" width="250" height="250" v-bind:src="cartoon.final" />
                        </router-link>
                        <p style="margin: 20px">----------</p>
                    </li>
                </ul>
            </div>
        </template>

        <template id="details-page">
            <div>
                <h2>[[ data.title ]] by [[ data.author ]]</h4>
                <h4>Final:</h4>
                <img width="300" height="300" v-bind:alt="data.title" v-bind:src="data.final" />
                <br />
                <h4>Drafts:</h4>
                <ul>
                    <li
                        v-for="(draft, index) in data.drafts"
                        v-bind:key="index"
                    >
                        <h6>[[ index + 1 ]]</h6>
                        <img width="250" height="250" v-bind:src="draft" />
                    </li>
                </ul>
            </div>
        </template>

        <!-- Vue App -->
        <script>
            // Vuex
            const store = new Vuex.Store({
                state: {
                    cartoons: [
                        {% for cartoon in cartoons %}
                        {
                            title: '{{ cartoon.title }}',
                            author: '{{ cartoon.author }}',
                            final: '{{ cartoon.image.url }}',
                            slug: '{{ cartoon.slug }}',
                            drafts: [
                                {% for draft in cartoon.draft_set.all %}
                                {
                                    iteration: '{{ draft.iteration }}',
                                    image: '{{ draft.image.url }}'
                                },
                                {% endfor %}
                            ].sort((a, b) => a.element > b.element).map(i => i.image)
                        },
                        {% endfor %}
                    ]
                },
                getters: {
                    getCartoonBySlug: (state) => (slug) => {
                        return state.cartoons.find(element => element.slug === slug)
                    }
                }
            })

            homePage = Vue.component('home-page', {
                delimiters: ['[[', ']]'],
                template: '#home-page'
            })

            detailPage = Vue.component('details-page', {
                delimiters: ['[[', ']]'],
                computed: {
                    data: function() {
                        return store.getters.getCartoonBySlug(this.$route.params.slug)
                    }
                },
                template: '#details-page'
            })


            const routes = [
                { component: homePage, path: '/' },
                { component: detailPage, path: '/cartoon/:slug/' }
            ]

            const router = new VueRouter({
                mode: 'history',
                routes: routes
            })


            new Vue({
                router,
                store,
                methods: {
                    test: function () {
                        console.log(store.state.cartoons);
                    },
                },
            }).$mount('#app');
        </script>
    </body>
</html>
