<!DOCTYPE html>
<html>
    <head>
        <title>Political Cartoons</title>

        <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/buefy/dist/buefy.min.css"
        />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
        />
        <style>
            #scottmademegivethisanid:hover {
                cursor: pointer;
            }
            #nav-search {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                border-radius: 0;
                outline: none;
                box-shadow: none;   
                color: black !important;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #777 !important;
                opacity: 1; /* Firefox */
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #777 !important;
                }

                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #777 !important;
                }
        </style>
    </head>
    <body>
        <div id="app">
            <nav
                class="navbar is-warning p-0 m-0"
                role="navigation"
                aria-label="main navigation"
            >
                <div class="container">
                    <div class="navbar-brand">
                        <a
                            role="button"
                            class="navbar-burger"
                            aria-label="menu"
                            id="burger"
                            aria-expanded="false"
                            data-target="navbar"
                            v-on:click="toggleBurger()"
                        >
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbar" class="navbar-menu">
                        <p
                            class="navbar-item has-text-dark has-text-weight-bold"
                        >
                            HTHM Political Cartoons
                        </p>
                        <router-link class="navbar-item" to="/">
                            Home</router-link
                        >
                        <router-link class="navbar-item" to="/about">
                            About</router-link
                        >

                        <div class="navbar-end">
                            <search-bar />
                        </div>
                    </div>
                </div>
            </nav>
            <br />
            <div class="container">
                <router-view></router-view>
            </div>
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        2021 Political Cartoons, a HTHM Project. Proudly Done by
                        Lexi Wiggins 10th grade students.
                    </p>
                </div>
            </footer>
        </div>

        <!-- Imports -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script src="https://unpkg.com/buefy/dist/components/autocomplete"></script>

        <!-- Vue Templates -->
        <template id="search-bar">
            <div class="navbar-item">
                <b-autocomplete
                    class="navbar-item"
                    id="nav-search"
                    v-model="input"
                    group-field="type"
                    group-options="items"
                    v-bind:data="filteredDataArray"
                    placeholder="Search term"
                    @select="option => {selected = option; search()}"
                    @typing="option => selected = option"
                    @keyup.enter.native="search"
                >
                    <template #empty>No results found</template>
                </b-autocomplete>
                <span class="navbar-item material-icons" id="scottmademegivethisanid" @click="search"
                    >search</span
                >
            </div>
        </template>

        <template id="cartoon-list">
            <ul class="columns is-multiline mt-5 is-centered">
                <li
                    v-for="cartoon in data"
                    v-bind:key="cartoon.slug"
                    class="column is-one-quarter m-1 card"
                >
                    <router-link v-bind:to="`/cartoon/${cartoon.slug}`">
                        <div class="card-image">
                            <figure class="image square">
                                <img
                                    v-bind:alt="cartoon.title"
                                    v-bind:src="cartoon.final"
                                />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="subtitle has-text-link">
                                    [[ cartoon.title ]] by [[ cartoon.author ]]
                                </p>
                            </div>
                        </div>
                    </router-link>
                </li>
            </ul>
        </template>

        <template id="home-page">
            <div class="section">
                <h1
                    class="title block has-text-centered has-text-dark"
                    style="text-transform: uppercase"
                >
                    <i>Cartoons</i>
                </h1>
                <cartoon-list v-bind:data="$store.state.cartoons" />
            </div>
        </template>

        <template id="about-page">
            <div class="section">
                <h1
                    class="title block has-text-centered has-text-dark"
                    style="text-transform: uppercase"
                >
                    <i>About</i>
                </h1>
                <div class="content">
                    <h2>This Project</h2>
                    <p>
                        This is a project done by the 10th grade of HTHM. In
                        this project we were supposed to find a project that was
                        interesting to us and research it. From here we were
                        supposed to use satire to make a political cartoon to
                        pursuade others into finding out more about our event.
                        And if you're reading this, then we probably did just
                        that.
                    </p>
                    <h2>The Why</h2>
                    <p>
                        I can't think right now so I have no idea what we should
                        put here but this is some text, so it takes up some
                        spaceeeeeeeeeee. :)
                    </p>
                </div>
            </div>
        </template>

        <template id="details-page">
            <div class="section">
                <div class="columns">
                    <div class="column is-two-thirds">
                        <img
                            v-bind:alt="data.title"
                            v-bind:src="data.final"
                            class="box"
                        />
                    </div>
                    <div class="is-one-quarter ml-4">
                        <h2 class="title">
                            [[ data.title ]] by [[ data.author ]]
                        </h2>
                        <h4 class="subtitle">Final Product</h4>
                    </div>
                </div>
                <h1
                    class="title block has-text-centered has-text-dark"
                    style="text-transform: uppercase"
                >
                    <i>Drafts</i>
                </h1>
                <ul class="columns is-multiline is-centered">
                    <li
                        v-for="(draft, index) in data.drafts"
                        v-bind:key="index"
                        class="card column is-one-third m-2"
                    >
                        <div class="card-image">
                            <figure class="image">
                                <img v-bind:src="draft" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <d class="content">
                                <h6>Draft #[[ index + 1 ]]</h6>
                            </d>
                        </div>
                    </li>
                </ul>
            </div>
        </template>

        <template id="search-page">
            <div class="section">
                <cartoon-list v-bind:data="results" />
            </div>
        </template>

        <!-- Vue App -->
        <script>
            // Vuex
            const store = new Vuex.Store({
                state: {
                    cartoons: [
                        {% for cartoon in cartoons %}
                        {
                            title: '{{ cartoon.title }}',
                            author: '{{ cartoon.author }}',
                            final: '{{ cartoon.image.url }}',
                            slug: '{{ cartoon.slug }}',
                            drafts: [
                                {% for draft in cartoon.draft_set.all %}
                                {
                                    iteration: '{{ draft.iteration }}',
                                    image: '{{ draft.image.url }}'
                                },
                                {% endfor %}
                            ].sort((a, b) => a.element > b.element).map(i => i.image)
                        },
                        {% endfor %}
                    ]
                },
                getters: {
                    getCartoonBySlug: (state) => (slug) => {
                        return state.cartoons.find(element => element.slug === slug)
                    },
                    getAllCartoonTitles: (state) => (slug) => {
                        return state.cartoons.map(element => element.title)
                    },
                    getAllCartoonAuthors: (state) => (slug) => {
                        return state.cartoons.map(element => element.author)
                    }
                }
            })

            searchBar = Vue.component('search-bar', {
                delimiters: ['[[', ']]'],
                data: function() {
                    return {
                        data:  [
                            {
                                type: 'Titles',
                                items: store.getters.getAllCartoonTitles()
                            },
                            {
                                type: 'Authors',
                                items: store.getters.getAllCartoonAuthors()
                            }
                        ],
                        input: '',
                        selected: '',
                    }
                },
                computed: {
                    filteredDataArray() {
                        const newData = []
                        this.data.forEach(element => {
                            const items = element.items.filter(item =>
                                item.toLowerCase().indexOf(this.input.toLowerCase()) >= 0)
                            if (items.length) {
                                newData.push({ type: element.type, items})
                            }
                        })

                        return newData
                    }
                },
                methods: {
                    toggle: function() {
                        this.visible = !this.visible
                    },
                    search: function() {
                        let term = ''

                        if (this.selected === null) {
                            term = this.input
                        } else {
                            term = this.selected
                        }

                        this.$router.push(`/search/${term}`)
                    }
                },
                template: '#search-bar'
            })

            cartoonList = Vue.component('cartoon-list', {
                delimiters: ['[[', ']]'],
                props: ['data'],
                template: '#cartoon-list'
            })

            homePage = Vue.component('home-page', {
                delimiters: ['[[', ']]'],
                template: '#home-page'
            })

            aboutPage = Vue.component('about-page', {
                delimiters: ['[[', ']]'],
                template: '#about-page'
            })

            detailPage = Vue.component('details-page', {
                delimiters: ['[[', ']]'],
                computed: {
                    data: function() {
                        return store.getters.getCartoonBySlug(this.$route.params.slug)
                    }
                },
                template: '#details-page'
            })

            searchPage = Vue.component('search-page', {
                delimiters: ['[[', ']]'],
                computed: {
                    results: function() {
                        let set = new Set(store.state.cartoons.filter(element => element.title.toLowerCase().includes(this.$route.params.term.toLowerCase())))
                        store.state.cartoons.filter(element => element.author.toLowerCase().includes(this.$route.params.term.toLowerCase())).forEach(item => {
                            set.add(item)
                        })
                        return set
                    }
                },

                template: '#search-page'
            })


            const routes = [
                { component: homePage, path: '/' },
                { component: aboutPage, path: '/about' },
                { component: detailPage, path: '/cartoon/:slug/' },
                { component: searchPage, path: '/search/:term/' },
                { component: searchPage, path: '/search/author/:term/' }
            ]

            const router = new VueRouter({
                mode: 'history',
                routes: routes
            })


            new Vue({
                router,
                store,
                methods: {
                    test: function () {
                        console.log(store.state.cartoons);
                    },
                    toggleBurger: function () {
                        document.getElementById("burger").classList.toggle("is-active");
                        document.getElementById("navbar").classList.toggle("is-active");
                    },
                },
            }).$mount('#app');
        </script>
    </body>
</html>
